*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'monsterat',sans-serif;
    background-color: #205072;
}
.menu{
    margin-top: 65px;
    font-size: 18px;
}
.menus{
    margin-top: 65px;
    font-size: 19px;
    text-decoration: none;
    margin-left: 10px;
    color: #fff;
    background-color: #ff0000a6;
    border-radius: 39px;
    padding: 3px 8px 8px;

}




main{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
section{
    padding: 35px;
}
.searchbox{
    display: block;
    width: 500%;
    padding: 30px;
    margin-top: 20px;
    border:none;
    outline: none;
    background:none;

    background-color: #EEE;
    border-radius: 8px;

    color: #53565A;
    font-size: 20px;
    font-weight: 300;

    transition: 0.4s ease-out;

}    
.searchbox:focus {
    box-shadow: 0px 0px 8px 2px #53565A;
}
.results {
    display: flex;
    
    flex-wrap: wrap;
    margin: 0px -15px;

}
.results .result {
    width: 33.333%;
    min-width: 250px;
    
    padding:15px;
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.results .result img {
    display: block;
    border-radius: 20px;
    width: 100%;

}

.form-div{
    width: 100px;
}
.btn-success{
    margin-left: 125px;
    border-radius: 20px;
    width: 140px;
    height: 40px;
}
.img{
    margin-top: -50px;
    margin-left: 130px;
}
.label{
    font-size: 30px;
    margin-top: 0px;
    font-weight: 600;
    margin-left: 130px;
}
.form-control{
    width: 300px;
    border-radius: 10px;
    margin-left: 40px;
}
.box{
    margin-top: 20px;
}
.card{
    margin-top: 80px;
    margin-left: 360px;
   
    height: 480px;
    border-radius: 25px;
    width:380px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
}
.label2{
    margin-top: 15px;
    margin-left: 110px;
    font-size: 13px;
    color: grey;
}

.results .result h3{
      color: #fff;
      font-size: 20px;
      font-weight: 550;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 20px;
      text-align: center;
      padding: 10px;
      background: #445565;
      flex:1 1 100%;
      transition: 0.4s ease-out;
}
.results .result:hover h3{
    background: #fff ;
    color: #223343;
}
/*container images*/
.column {
    float: left;
    width: 33.33%;
    padding: 1px;
    font-family: fantasy;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 10%;
    box-sizing: border-box;
}

  .row::after {
    content: "  ";
    clear: both;
    margin-top: 10%;
    display: table;
  }
  .column1 {
    float: left;
    width: 33.33%;

    padding: 5px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 10%;
    box-sizing: border-box;
}
.colum {
    float: left;
    width: 48.66%;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 5%;
    box-sizing: border-box;
}
.ho{
    margin-top: 20px;
}
.labels{
    color:#1e8b1b;
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 85px;
}
.colum {
    padding: 50px;

    transition: transform .2s;

    margin: 0 auto;
  }

  .colum:hover {

    transform: scale(1.1);
  }
.ro::after {
    content: "  ";
    clear: both;
    margin-top: 10%;
    display: table;
  }
  .row1::after {
    content: "                  ";
    clear: both;
    margin-top: 10%;
    display: table;
  }
  .row1::after {
    content: "";
    clear: both;
    margin-top: 10%;
    display: table;
  }

  .column {
    padding: 50px;

    transition: transform .2s;

    margin: 0 auto;
  }

  .column:hover {

    transform: scale(1.1);
  }

  .column1 {
    padding: 50px;

    transition: transform .2s;

    margin: 0 auto;
  }

  .column1:hover {

    transform: scale(1.1);
  }
.poster{
    border-radius: 20px;
}
.contain{
    background-color: #fff;
    border-radius: 0px;
  height: 800px;
  font-family: 'Dosis';
  width: 1354px;
  margin-left: -200px;
  
}
.con{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 21px;
    margin-top: -80px;
}
/* navbar */
.navvbar{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: -80px;
    background-color: #3b4d61;
    margin-left: 750px;
    height: 80px;
    padding-left: 15px;
    padding-top: 42px;
    width:404px;
    position: sticky;
    align-items: center;

}
.navivbar{
    display: flex;
    margin-top: -10px;
    position: sticky;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #3b4d61;
    margin-left: -10px;
    color: #ffdf00;
    height: 80px;
   padding-left: 50px;
   font-size: 26px;
   font-weight: 550;
    width:1350px;
    padding-top: 25px;
    align-items: center;

}
ul{
    display: inline-table;
    text-decoration-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}
li{
    font-size: 10px;
    text-shadow: all;
    float: left;
    display: inline;
    text-align: center;
}
.wishlist{
    margin-top: 40px;
    margin-right: 800px;
}
.wish{
    color: #fff;
    font-family: 'Dosis';
    font-size: 28px;
    margin-top: -120px;
    margin-right: 600px;
}
.si{
    color: #fff;
    font-family: 'Dosis';
    font-size: 20px;
    margin-top: 15px;
    margin-left: -30px;
    margin-bottom: 35px;
}
.signin_wish{
    text-decoration: none;
    background-color: #ffdf00;
    border-radius: 17px;
    padding: 8px 18px;
    margin-top: 30px;
    margin-right: 600px;
    font-size: 21px;
    color: #223343;

}
.whead{
    font-size: 31px;
    color: #ffdf00;
    margin-top: 40px;
    font-family: 'Dosis';
    font-weight: 900;

}
.newreleases{
    background-color: black;
    width: 1000px;
    margin-top: 40px;
   
}
.play{
    margin-top: -50px;
    margin-right: 700px;
}
.newrel{
    margin-top: 50px;
    font-size: 32px;
    margin-right: 750px;
    color: #ffdf00 ;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.watch{
    color: #EEE;
    font-size: 21px;
    margin-top: -80px;
    margin-bottom: 100px;
    margin-right: 360px;
}
.cover{
    margin-left: -347px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) ;
}
.cover:hover{
    opacity: 0.6;
}
.noway{
    border-radius: 20px;
}

